.slick-track {
  height: 500px;
  padding: 1rem;
}

@media screen and (max-width: 48rem) {
  .slick-track {
    height: 500px;
  }
}

@media screen and (max-width: 30rem) {
  .slick-track {
    height: 400px;
  }
}
